
.user-quiz-page {
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.quiz-card {
    width: 18rem;
    margin: 1em 1em;
}

.quiz-list {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
}

.unit-accordion {
    width: 22rem;
    border-color: #86b7fe;
    border-style: solid;
    border-width: 1px;
}
